<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.yexiaoxiaogo.weather.dao.WeatherDao">
	<resultMap id="BaseResultMap" type="io.github.yexiaoxiaogo.weather.domain.Weather">
		<result column="id" property="id" />
		<result column="city" property="city" />
		<result column="code_d" property="code_d" />
		<result column="code_n" property="code_n" />
		<result column="txt_d" property="txt_d" />
		<result column="txt_n" property="txt_n" />
		<result column="max" property="max" />
		<result column="min" property="min" />
		<result column="date" property="date" />
	</resultMap>

	<parameterMap id="City"
		type="io.github.yexiaoxiaogo.weather.domain.Weather" />

	<sql id="Base_Column_List">
		id,city,code_d,code_n,txt_d,txt_n,max,min,date
	</sql>

	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from weather
		where city = #{city}
	</select>

	<select id="findListByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		*
		from weather
		where city = #{city}
	</select>

	<!--  <insert id="insertWeather" parameterType="io.github.yexiaoxiaogo.weather.domain.Weather"> -->
	<insert id="insertWeather" parameterMap="City">
		insert into weather(id,city,code_d,code_n,txt_d,txt_n,max,min,date)
		values(#{id},#{city},#{code_d},#{code_n},#{txt_d},#{txt_n},#{max},#{min},#{date})
	</insert>

</mapper>